@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: max-content;
  min-height: max-content;
  overflow-x: hidden;
} 

.app {
  min-height: 100vh;
  background-color: #1d2226;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #FDFDFD;
  display: grid;
  grid-template-areas:
        "header header"
        "content bag";
  grid-gap: 28px 70px;  
}

.app>.content {
  grid-area: content;
}

.app>.header {
  grid-area: header;
}

.app>.bag {
  grid-area: bag;
}
